<h2>entries</h2>

<div class="list gallery">
    {{#each entries}}
        <div class="list thumb">
            <a href="/entries/{{this.entry_id}}">
                <img src="/entries/thumb/{{this.entry_id}}" />
            </a>
        </div>
    {{/each}}
</div>
