<h2>entries</h2>

<div class="list gallery">
    {{#each entries}}
        <div class="list thumb" data-entry-id="{{this.entry_id}}">
            <a href="/entries/{{this.entry_id}}">
                <img src="/entries/{{this.entry_id}}/thumb" />
            </a>
        </div>
    {{/each}}
</div>

<div id="light-box" class="modal-screen-flex">
    <div class="modal-wrap-flex">
        <div class="button-bar">
            <a href="#close"   class="btn btn-danger modal-close">Close</a>
            <a href="#toimage" class="btn modal-image">Full Size</a>
            <div style="clear: both;"></div>
        </div>

        <div class="img-preview">img preview</div>
        <div class="img-tags">img tags</div>
    </div>
</div>
