<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <title>aqua - web client</title>
  </head>

  <body>
    <header>
      <h2>aqua</h2>
      <h3>just another image board</h3>
    </header>


    {{{inner}}}
  </body>
</html>
