<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <title>aqua - web client</title>
  </head>

  <body>
    <header>
      <h2>aqua teen hunger lulz</h2>
      <h3>just another image board</h3>
    </header>


    <div class="content">
        {{{inner}}}
    </div>

    <script src="/js/app.js" type="text/javascript"></script>
  </body>

</html>
